include star-rating

mixin room(params)
    -
        const number = params.num
        const luxe = params.luxe || ""
        const price = params.price
        const rating = params.rating || 5
        const revs = params.revs
        const link = params.roomLink


    .room-card
        .img
            img(src=`src/img/png/room${number}.png` widht="270" height="151" alt=`${number}`)
            .pointers
                .pointer_active
                each i in Array(3)
                    .pointer
        a(href=`room${number}.html`)
            .room-card-container()
                .room-card-content
                    .room-card-index
                        .number
                            p.number № #{number}
                            p.luxe #{luxe}
                        p.price #[strong #{price}] в сутки
                    .room-card-rate
                        .rate
                            +rating(rating, number)
                        p.revs #[strong #{revs}] Отзывов